target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
target/
*.class
*~
*.swp
*.iml
.idea/
.DS_Store
data/
temp/

# Eclipse
/.project
/.settings
/.classpath
/.cache
